body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.nav-list, .address-list {
    display: flex;
    gap: 40px;
}

.address {
    margin-left: auto;
}

.address-list {
    
}

img { 
    display: block;
}

a {
    display: block;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ======================= MOBILE ========================== */

.container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

.div-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list, .address {
    display: none;
}

.logo-header { 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.logo-span-header {
    color: #2E2F42;
}

.mobile-menu-open-btn {
    border: none;
    padding: 0;
}

.mobile-menu-open-btn-icon {
    stroke: #2F2F37;
}

/* ---------------section 1-------------- */

.div-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.section-first {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), 
        url("../images/mobile/m-hero/office.jpg");    
        background-size: cover;
    background-color: #2E2F42;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 77px;
    padding-bottom: 188px;
    max-width: 320px;
    max-height: 432px;
    margin: 0 auto;
}

@media (min-resolution: 192dpi) {
    .section-first {
        background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), 
        url("../images/mobile/m-hero/office@2x.jpg");
    }

    .div-title {
        gap: 36px;
    }
}


.page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    width: 288px;
    height: 160px;
    padding: 0 44px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.button {
    cursor: pointer;
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: #4D5AE5;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    min-width: 169px;
    min-height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background: #404BBF;
}

.button:focus {
    background: #404BBF;
}

/* -------------- M-SECTION 2 ---------------------- */
.section-second-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.section-second-list-icon {
    display: none;
}

.card-title {
    align-self: stretch;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.card-text {
    align-self: stretch;
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.02em;
}



/* ====================== TABLET =========================== */

@media screen and (min-width: 768px) and (max-width: 1157px) {

    /*------------ section 1 ----------------  */
    .section-first {
        min-width: 768px;
        min-height: 420px;
        padding-top: 112px;
        background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), 
        url("../images/tablet/t-hero/office.jpg");
    }

    @media (min-resolution: 192dpi) {
        .section-first {
            background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ), 
            url("../images/tablet/t-hero/office@2x.jpg");
        }
    }
        
    .container {
        min-width: 768px;
    }

    .page-title {
        min-width: 496px;
        min-height: 120px;
        padding: 0;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
    }

    /* ---------------- section 2 --------------- */

    .section-second-list-icon {
        display: block;
    }
}

/* ======================= DESKTOP ========================= */

@media screen and (min-width: 1158px) {

    /* ------------------ SECTION 1 ----------------- */
    .section-first {
        min-width: 1158px;
        min-height: 600px;
        padding-top: 112px;
        background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), 
        url("../images/desktop/d-hero/office.jpg");
    }

    @media (min-resolution: 192dpi) {
        .section-first {
            background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ), 
            url("../images/desktop/d-hero/office@2x.jpg");
        }
    }    

    .container {
        min-width: 1158px;
    }

    /* ----------------- SECTION 2 ---------------- */
    .section-second-list-icon {
        display: block;
    }

    .section-second-list {
        display: flex;
        gap: 24px;
    }
    
    .section-second-list-el {
        width: calc((100% - 72px) / 4);
    
    }
    
    .section-second-list-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
    }
}
    
