body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.nav-list, .address-list {
    display: flex;
    gap: 40px;
}

.address {
    margin-left: auto;
}

.address-list {
    
}

img { 
    display: block;
}

a {
    display: block;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ======================= MOBILE ========================== */

.container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;

}

.div-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list, .address {
    display: none;
}

.logo-header { 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.logo-span-header {
    color: #2E2F42;
}

.mobile-menu-open-btn {
    border: none;
    padding: 0;
}

.mobile-menu-open-btn-icon {
    stroke: #2F2F37;
}

/* ----section 1----- */

.div-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

/* ====================== TABLET =========================== */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* ======================= DESKTOP ========================= */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
}